<!-- Общий контейнер для центрирования всех элементов в нем -->
<div class="flex flex-col gap-2 max-w-1/2 place-self-center h-full justify-center items-center">
    <form (ngSubmit)="searchSubmit()">
    <!-- Подпись для поиска -->
    <label for="fullName">Поиск по ФИО студента</label>
    <!-- Поле поиска по студентам -->
    <p-select [options]="students" name="fullName" (onChange)="syncGroup()" [checkmark]="true" [(ngModel)]="selectedStudent" optionLabel="fullName" [filter]="true"
        filterBy="fullName" [showClear]="true" placeholder="Введите/выберите ФИО студента" class="mb-6 w-full md:w-96">
        <ng-template #selectedItem let-student id="search">
            <div class="flex items-center gap-2">
                <div>{{ student.fullName }}</div>
            </div>
        </ng-template>
        <ng-template let-student #item>
            <div class="flex items-center gap-2">
                <div>{{ student.fullName }}</div>
            </div>
        </ng-template>
    </p-select>
    <!-- Надпись для поиска -->
    <label for="group">Поиск по группе</label> 
    <!-- Поле поиска по группам -->
    <p-select [options]="groups" [checkmark]="true" name="group" [(ngModel)]="selectedGroup" optionLabel="name" [filter]="true" filterBy="name"
        [showClear]="true" placeholder="Введите/выберите группу" class="w-full md:max-w-96" id="group">
        <ng-template #selectedItem let-group>
            <div class="flex items-center gap-2">
                <div>{{ group.name }}</div>
            </div>
        </ng-template>
        <ng-template let-group #item>
            <div class="flex items-center gap-2">
                <div>{{ group.name }}</div>
            </div>
        </ng-template>
    </p-select>
    </form>
    <!-- ссылка на подгрузку роутера со списком студентов под кнопкой -->
    <a [routerLink]="['students']" class="p-button font-bold mt-5">
        Поиск
    </a>
    <!-- кнопка скрыта, и нужна только для того, чтобы ангуляр подгрузил класс p-button, без которого <a> не будет иметь стиля -->
    <p-button [style]="{'display': 'none'}" label="Поиск" (click)="searchSubmit()"></p-button>
    <!-- роутер на список студентов -->
    <router-outlet/>
</div>
