<!-- Общий контейнер для центрирования всех элементов в нем -->
<div class="flex flex-col gap-2 w-full mt-10 justify-center items-center">
    <div class="flex max-w-1/2 place-self-center">
        <form class="flex flex-col p-1" (ngSubmit)="searchSubmit()">
            <!-- Подпись для поиска -->
            <label for="fullName">Поиск по ФИО студента</label>
            <!-- Поле поиска по студентам -->
            <p-select [options]="students" name="fullName" (onChange)="syncGroup()" [checkmark]="true"
                [(ngModel)]="selectedStudent" optionLabel="fullName" [filter]="true" filterBy="fullName"
                [showClear]="true" placeholder="Введите/выберите ФИО студента" class="mb-6 w-full md:w-96">
                <ng-template #selectedItem let-student id="search">
                    <div class="flex items-center gap-2">
                        <div>{{ student.surname }} {{ student.name }} {{ student.pathronymic }}</div>
                    </div>
                </ng-template>
                <ng-template let-student #item>
                    <div class="flex items-center gap-2">
                        <div>{{ student.surname }} {{ student.name }} {{ student.pathronymic }}</div>
                    </div>
                </ng-template>
            </p-select>
            <!-- Надпись для поиска -->
            <label for="group">Поиск по группе</label>
            <!-- Поле поиска по группам -->
            <p-select [options]="groups" [checkmark]="true" name="group" [(ngModel)]="selectedGroup" optionLabel="name"
                [filter]="true" filterBy="name" [showClear]="true" placeholder="Введите/выберите группу"
                class="w-full md:max-w-96" id="group">
                <ng-template #selectedItem let-group>
                    <div class="flex items-center gap-2">
                        <div>{{ group.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-group #item>
                    <div class="flex items-center gap-2">
                        <div>{{ group.name }}</div>
                    </div>
                </ng-template>
            </p-select>
        <!-- ссылка на подгрузку роутера со списком студентов под кнопкой -->
        <a [routerLink]="['students']" class="p-button font-bold mt-5 place-self-center">
            [отобразить таблицу]
        </a>
        </form>
        <!-- <p-button [style]="{'display': 'none'}" label="Импорт"></p-button> -->


        <!-- тестовая кнопка экспорта файла -->
        <!-- <p-button severity="info" label="[тест экспорта]" (click)="testExport()"></p-button>
        <p-button severity="info" label="[тест экспорта группы]" (click)="testExportGroup()"></p-button> -->
        <div class="flex flex-col gap-2 place-self-center justify-left items-left p-1">
            <p-fileupload mode="advanced" chooseLabel="Личное дело" chooseIcon="pi pi-upload" name="ld"
                [accept]="excelFileFormat" [cancelLabel]="cancelLabel" maxFileSize="1000000"
                (onSelect)="onFileSelect($event, 'ld')" (onRemove)="onClearFile('ld')" (onClear)="onClearFile('ld')"
                showUploadButton="false" />
            <p-fileupload mode="advanced" chooseLabel="Журнал договоров" chooseIcon="pi pi-upload" name="importLD"
                [accept]="excelFileFormat" maxFileSize="1000000" [cancelLabel]="cancelLabel"
                (onSelect)="onFileSelect($event, 'log')" (onRemove)="onClearFile('log')" (onClear)="onClearFile('log')"
                showUploadButton="false" />
            <p-fileupload [className]="" mode="advanced" chooseLabel="Журнал зачёток" [cancelLabel]="cancelLabel"
                chooseIcon="pi pi-upload" name="importLD" [accept]="excelFileFormat" maxFileSize="1000000"
                (onSelect)="onFileSelect($event, 'log2')" (onRemove)="onClearFile('log2')"
                (onClear)="onClearFile('log2')" showUploadButton="false" />

            <p-button class="place-self-center" label="Отправить в сервис 'студенты'" (onClick)="uploadAll()" severity="info" />
        </div>
    </div>
</div>
<div class="flex flex-col gap-2 mt-5 place-self-center justify-center items-center">
    <!-- роутер на список студентов -->
    <router-outlet />
</div>